body {
    background: #f0f0f0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 75, 197);
    padding: 10px;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    right: 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(11, 10, 10);
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: rgb(177, 23, 23);
  }
  
  div {
    margin-top: 10px;
    top: 10px;
    padding: 10px;
    /* background-color: #fff; */
    width: auto;
    /* position: fixed; */
    /* z-index: 1; */
    /* display: flex; */
  }
  
  div span {
    font-weight: bold;
  }
  
  main {
    /* margin-top: 70px; */
    background-color: #f0f0f0;
    padding: 10px;
    height: auto;
    margin-top: 10px;
  }
  
  .tickets {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* background-color: #fff; */
  }

  button {
    border: none;
    border-radius: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: #fff 0.3s;
    margin-right: 10px;
    margin-top: 8px;
  }

  button[type="submit"] {
    background-color: rgb(65, 162, 65);
  }

  button[type="submit"]:hover {
    background-color: rgb(21, 122, 21);
  }

  button.view:hover {
    background-color: darkblue;
  }

  input[type="checkbox"] {
    height: 45px;
    width: 35px;
    margin-right: 10px;
    float: left;
    /* margin-bottom: 10px; */
  }

  #ticket-list li {
    background-color: rgba(202, 198, 203, 0.692);
    border: none;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(83, 76, 84, 0.692);
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-bottom: 10px;
  }