body {
    background-image: linear-gradient(
        rgba(55, 6, 85, 0.783),
        rgba(100, 85, 109, 0.5)
      ),
      url("/static/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%; 
  }
  
  form {
    width: 300px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
  }

  input[type="radio"] {
    margin-left: 30px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    width: 40%;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .container {
    justify-content: center;
    align-items: center;
    height: auto;
  }